h1 {
  font-weight: bold !important;
}

.logo {
  width: auto;
  height: 80px;
}

.header {
  background-color: #86C03A;
  height: 160px;
  padding: 20px;
  text-align: center;
}

.header h1 {
  color: #ffffff;
  font-size: 1.6em;
  text-transform: uppercase;
}

.search-form-container {
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: #f7f7f7;
  text-align: center;
}

.search-form > input {
  margin-right: 3px;
  margin-bottom: 10px;
  max-width: 280px;
}

.search-form > label {
  display: block;
  font-size: 1em;
}

.container {
  padding: 30px 20px;
}

.welcome-text {
  margin-top: 30px;
  text-align: center;
}

.validation-text {
  margin-top: 30px;
  text-align: center;
  font-style: italic;
  color: #cccccc;
}

.loading-text {
  font-size: 18px;
  text-align: center;
}

.card-list-container {
  background-color: #ffffff;
  opacity: 1;
  visibility: visible;
  transition: all 0.4s ease;
}

.card-list-container.hide {
  display: none;
  opacity: 0;
  visibility: hidden;
  height: 0;
}

.card-image > figure {
  background-color: #f7f7f7;
}

.card-content__link {
  display: block;
  margin-bottom: 10px;
  color: #000000;
}

.card-content__link h1 {
  display: block; /* fallback */
  display: -webkit-box;
  max-width: 100%;
  height: 60px;
  margin-bottom: 10px;
  font-size: 18px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipe-individual-container {
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
}

.recipe-individual-container.show {
  opacity: 1;
  visibility: visible;
  height: auto;
  overflow: visible;
}

.recipe-src {
  display: block;
  padding: 5px 0; 
  border-top: 1px solid #e5e5e5;
}

.calories {
  margin: 30px 0 10px;
}

.calories > span {
  font-weight: bold;
}

.ingredients-container {
  padding: 0;
}

.ingredients-container h2 {
  padding: 10px 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  font-weight: bold;
  text-transform: uppercase;
}

.ingredients-list {
  margin-bottom: 30px;
}

.ingredient {
  margin-bottom: 15px;
}